In [1]:
# # feel free to just use the following if you prefer...
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [2]:
rows, columns = df.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 391
Number of columns: 11

observation: an observation is the data of a SINGLE row. It display a single particular object or unit. 
variable: a variable is the data of a single column. It display the features or attribute of the object or unit.

In [3]:
summary = df.describe(include='all')
print(summary)
#this code is for summarizing ALL the columns

             row_n       id     name gender species birthday personality  \
count   391.000000      390      391    391     391      391         391
unique         NaN      390      391      2      35      361           8
top            NaN  admiral  Admiral   male     cat     1-27        lazy
freq           NaN        1        1    204      23        2          60
mean    239.902813      NaN      NaN    NaN     NaN      NaN         NaN
std     140.702672      NaN      NaN    NaN     NaN      NaN         NaN
min       2.000000      NaN      NaN    NaN     NaN      NaN         NaN
25%     117.500000      NaN      NaN    NaN     NaN      NaN         NaN
50%     240.000000      NaN      NaN    NaN     NaN      NaN         NaN
75%     363.500000      NaN      NaN    NaN     NaN      NaN         NaN
max     483.000000      NaN      NaN    NaN     NaN      NaN         NaN

                song   phrase           full_id  \
count            380      391               391
unique            92      388               391
top     K.K. Country  wee one  villager-admiral
freq              10        2                 1
mean             NaN      NaN               NaN
std              NaN      NaN               NaN
min              NaN      NaN               NaN
25%              NaN      NaN               NaN
50%              NaN      NaN               NaN
75%              NaN      NaN               NaN
max              NaN      NaN               NaN

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

In [4]:
# Summarize numeric columns
numeric_summary = df.describe()
print(numeric_summary)

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [5]:
# Summarize categorical columns (like species, personality, etc.)
for column in df.select_dtypes(include='object').columns:
    print(f"\nSummary for {column}:")
    print(df[column].value_counts())

Summary for id:
id
admiral    1
mott       1
paula      1
patty      1
pate       1
          ..
eloise     1
elmer      1
ellie      1
elise      1
zucker     1
Name: count, Length: 390, dtype: int64

Summary for name:
name
Admiral    1
Muffy      1
Paula      1
Patty      1
Pate       1
          ..
Elvis      1
Eloise     1
Elmer      1
Ellie      1
Zucker     1
Name: count, Length: 391, dtype: int64

Summary for gender:
gender
male      204
female    187
Name: count, dtype: int64

Summary for species:
species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

Summary for birthday:
birthday
1-27     2
12-5     2
7-31     2
3-26     2
8-3      2
        ..
4-3      1
10-26    1
7-23     1
12-8     1
3-8      1
Name: count, Length: 361, dtype: int64

Summary for personality:
personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
peppy     49
smug      34
uchi      24
Name: count, dtype: int64

Summary for song:
song
K.K. Country     10
Forest Life       9
Imperial K.K.     7
K.K. Soul         7
K.K. Ragtime      7
                 ..
Aloha K.K.        2
Drivin'           1
Senor K.K.        1
K.K.  Bazaar      1
K.K. D&B          1
Name: count, Length: 92, dtype: int64

Summary for phrase:
phrase
wee one       2
quacko        2
bloop         2
aye aye       1
snoot         1
             ..
lambchop      1
yeah buddy    1
chow down     1
unh-hunh      1
pronk         1
Name: count, Length: 388, dtype: int64

Summary for full_id:
full_id
villager-admiral    1
villager-muffy      1
villager-paula      1
villager-patty      1
villager-pate       1
                   ..
villager-elvis      1
villager-eloise     1
villager-elmer      1
villager-ellie      1
villager-zucker     1
Name: count, Length: 391, dtype: int64

Summary for url:
url
https://villagerdb.com/images/villagers/thumb/admiral.98206ee.png    1
https://villagerdb.com/images/villagers/thumb/muffy.1497c92.png      1
https://villagerdb.com/images/villagers/thumb/paula.563ba81.png      1
https://villagerdb.com/images/villagers/thumb/patty.3e17f7f.png      1
https://villagerdb.com/images/villagers/thumb/pate.c60838c.png       1
                                                                    ..
https://villagerdb.com/images/villagers/thumb/elvis.57d4757.png      1
https://villagerdb.com/images/villagers/thumb/eloise.112208b.png     1
https://villagerdb.com/images/villagers/thumb/elmer.cc7df52.png      1
https://villagerdb.com/images/villagers/thumb/ellie.5a144a6.png      1
https://villagerdb.com/images/villagers/thumb/zucker.8dbb719.png     1
Name: count, Length: 391, dtype: int64

In [6]:
# Check for missing values
missing_values = df.isna().sum()
print(missing_values)

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [7]:
#chekc for non-numeric values
non_numeric_summary = df.describe()
print(non_numeric_summary)

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

df.shape displays the total number of rows and columns, and it does not consider about the data types or missing values. 
df.describe() displays the summary for columns which are: numeric variables and non-numeric variables.

For attribute: it can be taken as a tool which ONLY stores the information of the object. When I use an attribute, the function won't has any changes because I just search the stored value.

For method: it can be taken as a function which related with an object. The usage of a method: performing or operating which means it is able to calculate the data, transform etc. Using a mothod MUST with (), because it is a function which should include an argument.

the summary of the ChatBot (I use ChatGPT): Dataset Analysis and Summaries:
You provided a dataset related to Animal Crossing villagers. We discussed how to analyze and summarize non-numeric and numeric columns.
I shared code to summarize columns, count unique values for categorical columns, and check missing values using Pandas. You also learned about how df.describe() and df.shape behave differently, particularly with respect to numeric and non-numeric variables and how missing values affect the summaries.
Explaining Discrepancies:
I explained the discrepancies between what df.shape reports (total rows and columns) and what df.describe() reports (summary of numeric data by default). We discussed how missing values and non-numeric columns affect these discrepancies and how to use df.describe(include='all') to include non-numeric data in the summaries.
Difference Between Attributes and Methods:
I clarified the difference between an attribute (like df.shape) and a method (like df.describe()). Attributes are properties of an object that don't perform actions, while methods are functions that perform actions on the object.
Throughout the conversation, I provided code examples to help you explore the dataset and perform various analyses. You now have a clearer understanding of working with Pandas for summarizing data, dealing with missing values, and distinguishing between object attributes and methods.

the link: https://chatgpt.com/c/66e1f194-67e8-8003-807f-ab18a121aa3c